#header a {
	text-decoration: none !important;
	color: white;
}
#header a:hover {
	color: maroon;
}
#navbar ul {
	font-size: 20px;
	list-style-type: none;
	margin-top: 15px;
}
#navbar li {
	display: inline;
	position: relative;
	padding: 10px 10px;
}
#navbar ul ul {
	position: absolute;
    left: 8%;
    top: 97%;
    display: none;
    font-size: 90%;
    background: #83bb6a;
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
    height: 95px;
    min-width: 140px;
    z-index: 100;
}
#navbar li:hover ul {
	display: block;
	box-shadow-bottom: 5px rgba(0,0,0,0.2);
}
#header {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	background: #83bb6a;
	color: white;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);

}
h1 {
	padding-top: 5px;
	font-weight: bold;
}	
#image {
	/*background-image: url(./img/frontpage2.jpg);*/
	height: 768px;
	background-repeat: no-repeat;
	margin-top: 0px;
	opacity: 0.7;
}
#image.col-md-12 {
	padding: 0;
}

#content {
	background: #cff7bd;
	position: relative;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}
h2 {
	text-align: center;
	margin: 10px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

#contentimage {
	border-radius: 50px;
	max-width: 47%;
	max-height: 350px;
	object-fit: cover;
	position: left;
}

div.gallery {
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 300px;
    border-radius: 20px;
    background: #cff7bd;
    margin:35px;
}

div.gallery:hover {
    border: 1px solid #777;
	text-decoration: bold;
}

div.gallery a {
	text-decoration: none;
}

div.gallery img {
    width: 100%;
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

div.desc {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.description{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    text-align: center;
    background-color: rgba(184, 181, 180, 0.5);
}

.ingredients{
	border: solid 1px;
	width: 47%;
	background-color: ghostwhite;
	position: relative;
	position: relative;
    top: -312px;
    right: -51%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.method {
	border: solid 1px;
	width: 47%;
	background-color: ghostwhite;
	position: relative;
	position: relative;
    top: -312px;
    right: -51%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.btn {
	width: 47%;
	margin-left: 40px;
	vertical-align: top;
}