#navbar a {
	text-decoration: none !important;
	color: black;
}
#navbar a:hover {
	color: pink;
}
#navbar ul {
	font-size: 20px;
	list-style-type: none;
	margin-top: 10px;
}
#navbar li {
	display: inline;
	position: relative;
	padding: 10px 10px;
}
#navbar ul ul {
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	margin-left: -40px;
    font-size: smaller;
}
#navbar li:hover ul {
	display: block;
}