#header a {
	text-decoration: none !important;
	color: white;
}
#header a:hover {
	color: maroon;
}
#navbar ul {
	font-size: 20px;
	list-style-type: none;
	margin-top: 15px;
}
#navbar li {
	display: inline;
	position: relative;
	padding: 10px 10px;
}
#navbar ul ul {
	position: absolute;
    left: 8%;
    top: 97%;
    display: none;
    font-size: 90%;
    background: #a3ef4c;
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
    height: 95px;
    min-width: 140px;
    z-index: 100;
}
#navbar li:hover ul {
	display: block;
}
#header {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	background: #a3ef4c;
	color: white;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);

}
h1 {
	padding-top: 5px;
	font-weight: bold;
}	
#image {
	/*background-image: url(./img/frontpage2.jpg);*/
	height: 768px;
	background-repeat: no-repeat;
	margin-top: -3px;
	opacity: 0.7;
}
#image.col-md-12 {
	padding: 0;
}

#content {
	background: #ccff99;
	position: relative;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}
h2 {
	text-align: center;
}

#contentimage {
	border-radius: 50px;
	max-width: 500px;
	max-height: 350px;
	object-fit: cover;
	position: left;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    border-radius: 20px;
    background: #ccff99;
    margin:35px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 300px;
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

div.desc {
    padding: 15px;
    text-align: center;
}